{% extends 'registro/layout.html' %}
{% load humanize %}
{% block content %}

    <form class="form" method="post" xmlns="http://www.w3.org/1999/html">

        {% csrf_token %}
        {{ form.as_p }}
        {#desde aqui#}
        <style>
            table {
                font-family: arial, sans-serif;
                font-size: 11px;
                border-collapse: collapse;
                width: 100%;
            }

            td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                background-color: #04AA6D;

            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        {#    hasta aqui#}
        <table>

            <thead>
            <div class="busqueda">
                <form class="navbar-search pull-left" method="POST" action="/invitaciones/">
                    {% csrf_token %}

                    {#                    <input type="text" name="buscalo" class="search-query" placeholder="Buscar">#}

                    <div class="btn-group">

                        <button class="btn btn-primary" type="submit"><i class="icon-search"></i> Visualizar</button>

                    </div>
                </form>
            </div>
            <tr>

                <th scope="col"> ID. </th>
                <th scope="col"> Invitado</th>
                <th scope="col"> Fecha de invitación</th>
                <th scope="col"> Proceso</th>
                <th scope="col"> Encargado</th>
                <th scope="col"> Correo al que debe enviar la propuesta</th>
                <th scope="col"> Fecha de entrega de la propuesta</th>
                <th scope="col"> Num. Viv. </th>
                <th scope="col"> Monto del proyecto</th>
                <th scope="col"> Provincia </th>
                <th scope="col"> Estado del proceso</th>
                {#                <th scope="col"> Monto</th>#}
            </tr>
            </thead>
            <h4>Presione el botón Visualizar para ver las invitaciones</h4>
            <tbody>

            {% if  oferentes1 %}
                {% for invitacion in oferentes1 %}

                    <tr>
                        <td>{{ invitacion.invitaciones.id }}</td>
                        <td>{{ invitacion.invitado }}</td>
                        <td>{{ invitacion.fecha }}</td>
                        <td>{{ invitacion.invitaciones.relacion_procesoi }}</td>
                        <td>{{ invitacion.invitaciones.relacion_usuarioi }}</td>
                        <td>{{ invitacion.invitaciones.relacion_usuarioi.email }}</td>
                        <td>{{ invitacion.invitaciones.fecha_propuesta }}</td>
                        <td>{{ invitacion.invitaciones.relacion_procesoi.relacion_proyectos.numero_viviendas }}</td>
                        <td>{{ invitacion.invitaciones.relacion_procesoi.relacion_proyectos.monto_ref | intcomma }}</td>
                        <td>{{ invitacion.invitaciones.relacion_procesoi.relacion_proyectos.relacion_provincia }}</td>
                        {#                        <td>{{ invitacion.invitaciones.relacion_procesoi.estado }}</td>#}
                        {% if invitacion.invitaciones.relacion_procesoi.estado == '01' %}
                            <td style="color:#0000ff"> En proceso</td>
                        {% elif invitacion.invitaciones.relacion_procesoi.estado == '02' %}
                            <td style="color:#0000ff"> Adjudicado</td>
                        {% else %}
                            <td> Fallido</td>
                        {% endif %}
                        {#                        <td>{{ invitacion.invitaciones.relacion_procesoi }}</td>#}
                        {#                        <td>{{ invitacion.estado_invitado }}</td>#}

                    </tr>

                {% endfor %}

            {% else %}
                <span style="color: red; ">No tiene invitaciones</span>
            {% endif %}

            </tbody>
        </table>
        {#desde aqui#}


        {#hasta aqui#}
        {#	<button type="submit" id="submit">Guardar</button>#}
    </form>



{% endblock %}